/* User Home Container */
.user-home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* User Home Container */

.user-home-container .additional-container {
    width: 100%;
    padding: 0 20px;
    max-width: 1500px;
}
/* User Home Container */
/* User Home Container */

/* Top Container */
.user-home-container .additional-container .top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin: 30px 0 40px 0;
}
/* Top Container */

/* Join Box */
.join-container { 
    background-color: #8942FE;
    border-radius: 6px;
    min-height: 200px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-container .join-box {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    background-color: #D4CDFF; 
    border-radius: 8px;
    margin: 0 30px;
}

.join-container .join-box input {
    font-family: "Satoshi Medium", Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 14px;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
}

.join-container .join-box .join-btn {
    font-family: "Satoshi Bold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 14px 25px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #212529;
    color: #fff;
    user-select: none;
    cursor: pointer;
    transition: 0.3s ease;
}
/* Join Box */

/* Generate Box */
.generate-container {
    background-color: #FED728;
    min-height: 200px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    color: #212529;
}

.generate-container .generate-box {
    margin-left: 10%;
}

.generate-container .generate-box h3 {
    font-family: "Satoshi Bold", Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}


.generate-container .generate-box .choice-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.generate-container .generate-box .choice-container span {
    font-family: "Satoshi Bold", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #FFEBA2;
}

.generate-container .generate-box .choice-container button {
    font-family: "Satoshi Medium", Arial, Helvetica, sans-serif;
    font-size: clamp(12px, 1.2vw, 14px);
    background-color: #212529;
    color: #fff;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    transition: 0.3s ease;
}
/* Generate Box */

/* Bottom Container */
.bottom-container h3{
    font-family: "Satoshi Bold", Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.bottom-container .lil-msg{
    font-family: "Satoshi Regular", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.bottom-container .quiz-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom-container .quiz-list .quiz-item {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 6px;
    background-color: #E6E8EC;
}

.bottom-container .quiz-list .quiz-item .quiz-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-container .quiz-list .quiz-item h4 {
    font-family: "Satoshi Medium", Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
}

.bottom-container .quiz-list .quiz-item p {
    font-family: "Satoshi Medium", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.bottom-container .quiz-list .quiz-item .quiz-info .join-code strong {
    user-select: all;
}

.bottom-container .quiz-list .quiz-item .num-questions {
    font-family: "Satoshi Medium", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.bottom-container .quiz-list .quiz-item .quiz-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
    margin-left: 15px;
}

.bottom-container .quiz-list .quiz-item .quiz-actions button {
    font-family: "Satoshi Medium", Arial, Helvetica, sans-serif;
    font-size: 12px;
    aspect-ratio: 1;
    height: 100%;
    background-color: #212529;
    color: #fff;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
}
/* Bottom Container */

/* Scores Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
  }

  .modal-overlay .modal-content h2 {
    font-family: "Satoshi Bold", Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    font-family: "Satoshi Medium", Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: #f4f4f4;
  }

  td {
    font-family: "Satoshi Regular", Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  
  .close-btn {
    background: #ff4b4b;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
  }
/* Scores Modal */

@media screen and (max-width: 1300px) {
    .join-container { 
        width: 50%;
    }

    .generate-container {
        width: 50%;
    }
}

@media screen and (max-width: 830px) {
    .user-home-container .additional-container .top-container {
        flex-direction: column;
    }

    .join-container { 
        width: 100%;
    }

    .generate-container {
        width: 100%;
    }

    .bottom-container .quiz-list .quiz-item {
        flex-direction: column;
        justify-content: space-between;
    }

    .bottom-container .quiz-list .quiz-item .quiz-actions button{
        aspect-ratio: unset;
        height: unset;
        padding: 8px 12px;
    }

    .bottom-container .quiz-list .quiz-item .quiz-actions {
        width: 100%;
        margin-left: unset;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

/* @media screen and (max-width: 500px) {
    .generate-container .generate-box .choice-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
} */